{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vielen Dank für die Teilnahme
{% endblock %}

{% block styles %}
<style type="text/css">
.a{
        padding-top: 10px ;
    }
.b{
        padding-top: 10px ;
        padding-bottom: 10px ;
    }
.c{
        padding-top: 5px ;
        padding-bottom: 10px ;
    }
.d{
        padding-top: 10px ;
        padding-bottom: 30px ;
    }
* {
    font-size: 17px;/* <-- fonts */
}

  </style>
{% endblock %}

{% block content %}


<div class=b>
    <p align="justify">Die Studie ist hiermit beendet. Vielen Dank für Ihre Teilnahme!</p>
    </div>

<br>



{% endblock %}



